<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="officeBookDAO">
	<!-- 책 정보 가져오기 -->
	<select id="getBookInfo" parameterType="int" resultType="officeBookVO">
		SELECT *
		  FROM BOOK B, BOOK_CATEGORY C
		 WHERE BOOK_NO = #{book_no}
		   AND B.CATEGORY_NO = c.category_no
	</select>
	
	<!-- 카테고리 대분류 가져오기 -->
	<select id="getCategoryCode" resultType="String">
		SELECT CATEGORY_CODE
		  FROM BOOK_CATEGORY
		 GROUP BY CATEGORY_CODE
	</select>
	
	
	<!-- 카테고리 중분류 가져오기 -->
	<select id="getCategoryMain" parameterType="String" resultType="String">
		SELECT CATEGORY_MAIN
		  FROM BOOK_CATEGORY
		 WHERE CATEGORY_CODE = #{category_code}
		 GROUP BY CATEGORY_MAIN
	</select>
	
	<!-- 카테고리 이름 가져오기 -->
	<select id="getCategoryName" parameterType="map" resultType="String">
		SELECT CATEGORY_NAME
		  FROM BOOK_CATEGORY
		 WHERE CATEGORY_CODE = #{category_code}
		   AND CATEGORY_MAIN = #{category_main}
		 GROUP BY CATEGORY_NAME
	</select>
	
	<!-- 책 이름 검색 -->
	<select id="searchBookName" parameterType="map" resultType="String">
		SELECT B.BOOK_NAME
		  FROM BOOK B, BOOK_CATEGORY C
		 WHERE B.BOOK_NAME LIKE '%' || #{book_name} || '%'
		   AND C.CATEGORY_NAME = #{category_name}
		 ORDER BY BOOK_NO ASC
	</select>
	
	<!-- 카테고리넘버 가져오기 -->
	<select id="getCategoryNo" parameterType="officeBookVO" resultType="int">
		SELECT CATEGORY_NO
		  FROM BOOK_CATEGORY
		 WHERE CATEGORY_CODE = #{category_code}
		   AND CATEGORY_MAIN = #{category_main}
		   AND CATEGORY_NAME = #{category_name}
	</select>
	
	<!-- 책 정보 수정 -->
	<update id="modifyUpdate" parameterType="officeBookVO">
		UPDATE BOOK SET BOOK_NAME = #{book_name}
            , CATEGORY_NO = #{category_no}
            , BOOK_WRITER =#{book_writer}
            , BOOK_PUBLISHER = #{book_publisher}
            , BOOK_PRICE = #{book_price}
            , BOOK_SALEPRICE = #{book_saleprice}
            , BOOK_INFO = #{book_info}
            , BOOK_PUBLISHED_DATE = #{book_published_date}
            , BOOK_TOTAL_PAGE = #{book_total_page}
            , BOOK_ENTERED_DATE = #{book_entered_date}
            , EBOOK = #{ebook}
            , BOOK_ISBN = #{book_isbn}
            , BOOK_IMG = #{book_img}
		WHERE BOOK_NO = #{book_no}
	</update>
</mapper>